<template>
    <article class="text-center form_body bg-white lg-shadow lg-pt-8 lg-mt-0 mt-4 sm-pt-8 pt-6 pb-2 px-2 xs-px-5" id="form_fixed">
        <div class="form ls-lead-form mt-0">
                <h3 class="subject-title">
                    {{form_title}}
                </h3>
            <input type="hidden" name="type" value="">
            <div class="w-full  m-md-auto sign-up">
                <div class="px-0 py-2 py-md-0">

                    <label class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.name && errors.name.empty}, {'error-input': errors.name && errors.name.invalid}]">
                        <input v-model="newProjectInfo.name" placeholder=" " autocomplete="off"  v-on:focus="reseterror()" :readonly="readonly('name')">
                        <span>Name</span>
                    </label>

                    <div class="error-message error-name-message text-left" v-if='errors.name && errors.name.empty'>
                        <div >Please enter your name</div>
                    </div>

                    <label class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.email && errors.email.empty}, {'error-input': errors.email && errors.email.invalid}]">
                        <input v-model="newProjectInfo.email" placeholder=" " autocomplete="off" v-on:focus="reseterror()" :readonly="readonly('email')">
                        <span>Email ID</span>
                    </label>

                    <div class="error-message error-email-message text-left" v-if='errors.email && errors.email.empty'>
                        <div>Please enter your email address</div>
                    </div>

                    <div class="error-message error-valid-email-message text-left" v-if='errors.email && errors.email.invalid'>
                        <div>Please enter a valid email address</div>
                    </div>
                    
                    <vue-tel-input
                        @onInput="validatePhone"
                        @onValidate="validatePhone"
                        v-bind:wrapperClasses="['my-3', 'tel-input-wrapper', {'error-tel-input': errors.phone && errors.phone.empty}, {'error-tel-input': errors.phone && errors.phone.invalid}]"
                        v-bind:inputClasses="['w-full', 'tel-input']"
                        v-model="newProjectInfo.phone"
                        v-bind="bindProps"
                        placeholder="" 
                        autocomplete="off" 
                        v-on:focus="reseterror()" 
                        :readonly="readonly('phone')"
                    >
                    </vue-tel-input>

                    <div class="error-message error-phone-message text-left" v-if='errors.phone && errors.phone.empty'>
                        <div>Please enter a mobile number</div>
                    </div>

                    <div class="error-message error-valid-phone-message text-left" v-if='errors.phone && errors.phone.invalid'>
                        <div>Please enter a valid mobile number</div>
                    </div>
                    <div v-if="isoCode.toLowerCase() != 'sg'" class="whatsapp-check">
                        <label class="checkBox"><p class="pg15">Send me updates on WhatsApp</p>
                            <input @click="toggleCheckBox" type="checkbox" :checked="whatsappChecked">
                            <span class="checkmark"></span>
                        </label> 
                    </div>
                    <div class="relative">
                        <label class="w-full pure-material-textfield-outlined my-2" v-bind:class="[{'error-no-input': errors.property && errors.property.empty}, {'error-input': errors.property && errors.property.invalid}]">
                            <input v-on:keyup="searchProperty" v-model="property_search_key" placeholder=" " autocomplete="off" v-on:focus="reseterror()" >
                            <span>Property Name</span>
                        </label>
                        <div v-if='showProperty' class="absolute w-full z-10 bg-white" :class="{'property-list': properties && properties.length}">
                            <ul class="list-unstyled p-0">
                                <template v-for='property in properties'>
                                    <li :key="property.placeId" class="flex cursor-pointer show-bottom-border" v-on:click="selectPlace(property.placeId, property.structuredFormatting.mainText)">
                                        <img class="w-2 h-4 mr-2 align-top" src="https://images.livmatrix.com/img/icons/maps-icon-place.png">
                                        <div>
                                            <div class="display-title text-left">
                                                {{ property.structuredFormatting.mainText }}
                                            </div>
                                            <div class="text text-left pt-2">
                                                {{ property.structuredFormatting.secondaryText }}
                                            </div>
                                        </div>
                                    </li>
                                </template>

                                <li v-if="isoCode.toLowerCase() !== 'sg'" class="flex cursor-pointer text-left" v-on:click="selectPlace(null, null)">
                                    <img class="w-4 h-4 mr-2 align-top margin-image"
                                         src="https://images.livmatrix.com/img/icons/maps-icon-no-place.png">
                                    <div>
                                        <div class="display-title text-left red-color">Could not find your property?</div>
                                        <div class="text pt-2 text-left">Enter full address of the property</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="error-message error-property-message text-left" v-if='errors.property && errors.property.empty'>
                            <div>Please enter a property name</div>
                    </div>
                    <label v-if='showPincode' class="w-full pure-material-textfield-outlined my-2 pincode-label" v-bind:class="[{'error-no-input': errors.pincode && errors.pincode.empty}, {'error-input': errors.pincode && errors.pincode.invalid}]">
                        <input v-model="newProjectInfo.pincode" placeholder=" " autocomplete="off"  v-on:focus="reseterror()">
                        <span>Enter pincode</span>
                    </label>
                    <div class="error-message error-pincode-message text-left" v-if='errors.pincode && errors.pincode.empty'>
                        <div >Please enter pincode</div>
                    </div>
                    <div class="error-message error-valid-pincode-message text-left" v-if='errors.pincode && errors.pincode.invalid'>
                        <div >Sorry, we are currently not serviceable in your locality </div>
                    </div>
                    <!-- <p class="property-note">Choose from the results or enter full address</p> -->   
                    <div v-if="isoCode.toLowerCase() === 'sg'" class="consent">
                        <label class="checkBox"><p class="pg12">You hereby agree to our <a target="_blank" :href="privacy_policy_url" class="no-underline text-brand-primary">
                                privacy policy</a>, <a target="_blank" :href="term_condition_url" class="no-underline text-brand-primary">
                                terms & conditions</a> and indicate your consent (i)<span v-if="!showMore" >... </span> <span v-if="!showMore" @click="showMoreConsent" class="text-brand-primary">More</span>
                            <span v-if="showMore"> to being contacted by Interiortech Pte. Ltd. (“Livspace”) via call/e-mail 
                            to discuss your requirements and to receive our publicity material 
                            and updates; and (ii) to the collection, use, disclosure and 
                            care of your personal data in this form by Livspace in accordance 
                            with the Personal Data Protection Act 2012.</span> <span v-if="showMore" @click="showMoreConsent" class="text-brand-primary">Less</span> </p>
                            <input @click="toggleConsentCheckBox" type="checkbox" :checked="consentChecked" v-on:focus="reseterror()">
                            <span class="checkmark"></span>        
                        </label>
                    </div> 
                    <div class="error-message error-pincode-message text-left" v-if='isoCode.toLowerCase() === "sg" && errors.consent && !errors.consent.isChecked'>
                        <div>Please agree the privacy policy to continue</div>
                    </div>   
                    <div class="py-5">
                        <button type="button" class="btn-danger mdc-theme--primary-shape-bg w-full"
                                v-on:click="submitForm">
                            <template>{{submit_button_text}}</template>
                        </button>
                    </div>
                    <div v-if="isoCode.toLowerCase() !== 'sg'">
                        <label class="text">By submitting this form, you agree to the 
                            <a target="_blank" :href="privacy_policy_url" class="no-underline text-brand-primary">
                                privacy policy
                            </a> &amp; 
                            <a target="_blank" :href="term_condition_url" class="no-underline text-brand-primary">
                                terms and conditions
                            </a>
                        </label>
                    </div>    
                </div>
            </div>
        </div>
    </article>
</template>
<script>
    import { VueTelInput } from 'vue-tel-input'
    function debounce(func, wait, immediate) {
        var timeout;
        return function() {
            var context = this, args = arguments;
            var later = function() {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            var callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        }
    }
    export default {
        props: {
            newProjectInfo: {
                type: Object,
                required: true
            },
            isoCode: {
                type: String,
                default: 'IN'
            },
            properties: {
                type: Array,
                default: () => ([])
            },
            property_detail: {
                type: Object,
                default: () => ({})
            },
            pincode_list: {
                type: Array,
                default: () => ([])
            },
            submit_button_text: {
                type: String,
                default: 'GET FREE QUOTE'
            },
            form_title: {
                type: String,
                default: 'Talk to a designer'
            },
            readonly_fields: {
                type: Array,
                default: () => ([])
            },
            term_condition_url: {
                type: String,
                default: '/in/service'
            },
            privacy_policy_url: {
                type: String,
                default: '/in/privacy'
            },
        },
        data () {
            return {
                whatsappChecked: false,
                consentChecked: false,
                showMore: false,
                property_search_key: '',
                showProperty: false,
                showPincode: false,
                errors: {},
                phoneErrors: {},
            }
        },
        computed: {
            bindProps: function () {
                return {
                    defaultCountry: this.isoCode.toUpperCase(),
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: false,
                    enabledCountryCode: false,
                    enabledFlags: true,
                    preferredCountries: ["IN", "SG", 'US'],
                    onlyCountries: [],
                    ignoredCountries: [],
                    autocomplete: "off",
                    validCharactersOnly: true,
                    name: "telephone",
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: this.showDialCode()
                    }
                };
            }
        },
        components: {
            VueTelInput,
        },
        watch: {
          properties: function () {
            this.showPlaceList()
          },
          property_detail: function () {
            this.populateSelectedPlace()
          }
        },
        methods: {
            showDialCode () {
                if(this.newProjectInfo && this.newProjectInfo.phone) {
                    return false
                }
                return true
            },
            toggleCheckBox () {
                this.whatsappChecked = !this.whatsappChecked;
            },
            toggleConsentCheckBox () {
                this.consentChecked = !this.consentChecked;
            },
            showMoreConsent (e) {
                e.preventDefault();
                this.showMore = !this.showMore;
            },
            validatePhone (value){
                this.phoneErrors = value;
                if(!value.isValid) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                } else {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = false
                }
            },
            readonly (field) {
               if (this.readonly_fields.includes(field)) {
                    return true                    
               } else {
                    return false
               }
            },
            isEmailValid(email) {
                let emailRegx = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
                return emailRegx.test(email);
            },

            isPhoneValid() {
                if (this.phoneErrors && this.phoneErrors.isValid) {
                    return true
                } else {
                    return false
                }
            },

            alphabetValid(val){
                let data  = val.trim();
                if( !data ){
                    return false;
                }
                return true;
            },
            submitForm(){
                this.reseterror();
                let errorMessage = false
                if(!this.newProjectInfo.name || !this.alphabetValid(this.newProjectInfo.name)){
                    this.errors['name'] = {}
                    this.errors['name']['empty'] = true
                    errorMessage = true;
                }
                if(!this.newProjectInfo.email){
                    this.errors['email'] = {}
                    this.errors['email']['empty'] = true
                    errorMessage = true;
                } else if (!this.isEmailValid(this.newProjectInfo.email)) {
                    this.errors['email'] = {}
                    this.errors['email']['invalid'] = true
                    errorMessage = true;
                }
                if(!this.newProjectInfo.phone){
                    this.errors['phone'] = {}
                    this.errors['phone']['empty'] = true
                    errorMessage = true;
                } else if (!this.isPhoneValid()) {
                    this.errors['phone'] = {}
                    this.errors['phone']['invalid'] = true
                    errorMessage = true;
                }
                if(!this.property_search_key){
                    this.errors['property'] = {}
                    this.errors['property']['empty'] = true
                    errorMessage = true;
                }
                if(this.property_search_key){
                    if(this.isoCode !== 'SG' && !this.newProjectInfo.pincode){
                        this.errors['pincode'] = {}
                        this.errors['pincode']['empty'] = true
                        errorMessage = true;
                    } else if (this.isoCode !== 'SG' && this.pincode_list.length && !this.pincode_list.includes(Number(this.newProjectInfo.pincode))){
                        this.errors['pincode'] = {}
                        this.errors['pincode']['invalid'] = true
                        errorMessage = true;
                    }
                    if(!this.newProjectInfo.property_name && this.isoCode == 'SG') {
                        this.newProjectInfo["property_name"] = this.property_search_key;
                        this.newProjectInfo["pincode"] = '111111';
                    }
                }
                if(!this.consentChecked){
                    this.errors['consent'] = {}
                    this.errors['consent']['isChecked'] = false
                    errorMessage = true;
                }
                if(errorMessage === true) {
                    return false;
                }
                else {
                    this.newProjectInfo['whatsapp_alert'] = this.whatsappChecked;
                    if(this.phoneErrors && this.phoneErrors.number && this.phoneErrors.number.e164) {
                        this.newProjectInfo['phone'] = this.phoneErrors.number.e164;
                    }
                    this.$emit('submit', this.newProjectInfo)
                }
            },
            reseterror () {
                this.errors = {}
            },
            searchProperty: debounce(function() {
                if (this.property_search_key) {
                    this.$emit('showPlaceList', this.property_search_key)
                }
            }, 500),
            showPlaceList(){
                this.showPincode = false
                this.showProperty = true
                if(this.properties.length === 0 && this.isoCode.toLowerCase() != 'sg'){
                    this.showProperty = false
                    this.showPincode = true
                } 
            },
            selectPlace(value, title) {
                if (value) {
                    this.newProjectInfo.google_place_id = value
                    this.newProjectInfo.property_name = title
                    this.property_search_key = title
                    this.showProperty = false
                    this.$emit('selectPlace', {value: value, title: title})
                } else {
                    this.showPincode = (this.isoCode.toLowerCase() === 'sg') ? false : true;
                    this.showProperty = false
                    this.newProjectInfo.google_place_id = null
                }
            },
            populateSelectedPlace() {
                this.showPincode = false
                this.newProjectInfo.pincode = ''
                var addressComponents = this.property_detail.addressComponents
                var pincode_value = null;
                for(var i = 0; i < addressComponents.length; i ++){
                    if(!addressComponents[i].types.indexOf('POSTAL_CODE')){
                        pincode_value = addressComponents[i].longName
                    }
                }
                if(this.isoCode === 'SG') {
                    pincode_value = '111111';
                }
                if(pincode_value){
                    this.newProjectInfo.pincode = pincode_value
                }else {
                    this.showPincode = true
                } 
                this.showProperty = false
            }
        }
    }
</script>

<style scoped>

@media (min-width: 1200px){
   .lg-shadow {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    }
    .lg-pt-8 {
        padding-top: 2rem;
    }
    .lg-mt-0 {
        margin-top: 0;
    }
}


@media (min-width: 576px){
   .sm-pt-8 {
        padding-top: 2rem;
    }
}

@media (min-width: 375px){
   .xs-px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.p-0 {
    padding: 0;
}

.z-10 {
    z-index: 10;
}

.align-top {
    vertical-align: top;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mt-0 {
    margin-top: 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}
.pt-2 {
    padding-top: 0.5rem;
}
.pb-2 {
    padding-bottom: .5rem;
}
.pt-6 {
    padding-top: 1.5rem;
}
.mt-4 {
    margin-top: 1rem;
}
.text-left {
    text-align: left;
}
.cursor-pointer {
    cursor: pointer;
}
.h-4{
    height: 1rem !important;
}
.flex{
    display: flex;
}
.w-2 {
    width: .5rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.py-5 {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}
.text-center {
    text-align: center;
}
.text-brand-primary {
    color: #cc1f41;
}
.w-full {
    width: 100%;
}
@font-face {
    font-family: SF UI Text Regular;
    font-style: normal;
    font-weight: 400;
    src: url("https://images.livmatrix.com/img/fonts/SFUIText-Regular.woff") format("woff")
}

.w-400 {
    width: 400px
}

@media (max-width: 400px) {
    .w-400 {
        width:360px!important
    }
}

.display-title,.error-message div,.font-sf,.text,label.error {
    font-family: SF UI Text Regular
}

.error-message div,.font-12,.text,label.error {
    font-size: 12px
}

.font-base,.mdc-theme--primary-shape-bg,.pure-material-textfield-outlined {
    font-size: 16px
}

.text {
    color: #333333;
}

.error-input>input+span,.error-input>textarea+span,.error-message div,.error-no-input.pure-material-textfield-outlined>input:focus+span,.error-no-input.pure-material-textfield-outlined>textarea:focus+span,.primary-color,label.error {
    color: #cc1f41!important
}

.bg-white,.navbar-laravel,.property-list {
    background-color: #fff
}

.bg-transparent,.pure-material-textfield-outlined>input,.pure-material-textfield-outlined>textarea {
    background-color: transparent
}

.border-box,.pure-material-textfield-outlined>input,.pure-material-textfield-outlined>input+span:after,.pure-material-textfield-outlined>input+span:before,.pure-material-textfield-outlined>textarea,.pure-material-textfield-outlined>textarea+span:after,.pure-material-textfield-outlined>textarea+span:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.bt-color-transparent,.error-input>input,.error-input>textarea,.pure-material-textfield-outlined>input,.pure-material-textfield-outlined>input:focus,.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span:after,.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span:before,.pure-material-textfield-outlined>textarea,.pure-material-textfield-outlined>textarea:focus,.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span:after,.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span:before {
    border-top-color: transparent
}

.bt-color-transparent-imp,.error-no-input.pure-material-textfield-outlined>input:focus,.error-no-input.pure-material-textfield-outlined>textarea:focus,.pure-material-textfield-outlined>input:disabled,.pure-material-textfield-outlined>input:disabled+span,.pure-material-textfield-outlined>input:disabled:placeholder-shown+span:after,.pure-material-textfield-outlined>input:disabled:placeholder-shown+span:before,.pure-material-textfield-outlined>textarea:disabled,.pure-material-textfield-outlined>textarea:disabled+span,.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span:after,.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span:before {
    border-top-color: transparent!important
}

.outline-none,button:focus {
    outline: none!important
}

.position-relative,.pure-material-textfield-outlined {
    position: relative
}

.position-absolute,.pure-material-textfield-outlined>input+span,.pure-material-textfield-outlined>textarea+span {
    position: absolute
}

.fw,.pure-material-textfield-outlined>input,.pure-material-textfield-outlined>input+span,.pure-material-textfield-outlined>textarea,.pure-material-textfield-outlined>textarea+span {
    width: 100%
}

.error-input>input+span:after,.error-input>input+span:before,.error-input>textarea+span:after,.error-input>textarea+span:before,.error-no-input>input,.error-no-input>textarea,.primary-border-color {
    border-color: #cc1f41!important
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

.navbar-laravel {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.04);
    box-shadow: 0 2px 4px rgba(0,0,0,.04)
}

.property-note {
    color: #333333;	
    font-family: Roboto;	
    font-size: 12px;	
    line-height: 12px; 
    margin-top: 6px;    
}
.property-list {
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
    border: 1px solid;
    border-color: #dadce0;
    top: 67px
}

.property-list ul li {
    padding: 16px 15px
}

.display-title {
    color: #000;
    font-size: 15px;
    line-height: 12px
}

.show-bottom-border {
    border-bottom: 1px solid #dadce0
}

.margin-image {
    margin-left: -3px
}

.red-color {
    color: #e04c5e!important
}

.mdc-theme--primary-shape-bg {
    border-radius: 25px;
    background: linear-gradient(235.9deg, #FF8190 0%, #DD485A 100%);
    color: #fff!important;
    height: 3.3rem;
    border: none!important
}

.btn-danger.disabled,.btn-danger:disabled {
    opacity: .7
}

.pure-material-textfield-outlined {
    --pure-material-safari-helper1:#000;display: inline-block;
    padding-top: 6px;
    line-height: 1.3;
    overflow: visible
}

.pure-material-textfield-outlined>input,.pure-material-textfield-outlined>textarea {
    margin: 0;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 15px 13px;
    height: inherit;
    color: rgba(0,0,0,.87);
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    caret-color: #000;
    -webkit-transition: border .2s,-webkit-box-shadow .2s;
    transition: border .2s,-webkit-box-shadow .2s;
    transition: border .2s,box-shadow .2s;
    transition: border .2s,box-shadow .2s,-webkit-box-shadow .2s
}

.error-input>input+span,.error-input>textarea+span {
    opacity: 1!important
}

.error-input>input,.error-input>textarea {
    border-left: 1px solid #cc1f41;
    border-right: 1px solid #cc1f41;
    border-top: 1px solid transparent!important;
    border-bottom: 1px solid #cc1f41
}

.error-input>input+span:after,.error-input>input+span:before,.error-input>textarea+span:after,.error-input>textarea+span:before {
    -webkit-box-shadow: inset 0 1px #cc1f41!important;
    box-shadow: inset 0 1px #cc1f41!important
}

.error-input>input:disabled:placeholder-shown,.error-input>textarea:disabled:placeholder-shown {
    border-top-color: #cc1f41!important
}

.tel-input-wrapper {
    line-height: 3 !important;
    color: rgba(0,0,0,.6);
    opacity: 1;
    box-shadow: none!important;
    border-color:#c4c4c4 !important;
    border-radius: 4px !important;
    display: inline-block;
    margin-top: 1.2rem !important;
    line-height: 1.3;
    overflow: visible;
}

.vue-tel-input:focus-within {
    border: 1px solid black !important;
    color: black !important;
} 

.tel-input-wrapper >>> .dropdown {
    outline: none !important;
    box-shadow: none!important;
    border-radius: 4px !important;
}

.tel-input-wrapper >>> ul {
    max-width: 336px !important;
    display: block;
    padding: 15px 0;
    margin-top: 15px;
}

.tel-input-wrapper >>> li {
    padding: 10px 5px;
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
    font-family: roboto;
    display: flex;
    flex-wrap: nowrap;
}

.tel-input {
    border-radius: 4px !important;
}

.error-tel-input {
    border: 1px solid #cc1f41!important;
    opacity: 1;
}
.error-no-input>input,.error-no-input>textarea {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.error-no-input.pure-material-textfield-outlined>input:focus+span:after,.error-no-input.pure-material-textfield-outlined>input:focus+span:before,.error-no-input.pure-material-textfield-outlined>textarea:focus+span:after,.error-no-input.pure-material-textfield-outlined>textarea:focus+span:before {
    border-top-color: #cc1f41!important;
    -webkit-box-shadow: inset 0 1px #cc1f41!important;
    box-shadow: inset 0 1px #cc1f41!important
}

.error-no-input>input:disabled:placeholder-shown,.error-no-input>textarea:disabled:placeholder-shown {
    border-top-color: transparent!important
}

.pure-material-textfield-outlined>input+span,.pure-material-textfield-outlined>textarea+span {
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-color: #c4c4c4;
    max-height: 100%;
    color: rgba(0,0,0,.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    -webkit-transition: color .2s,font-size .2s,line-height .2s;
    transition: color .2s,font-size .2s,line-height .2s;
    opacity: .5
}

.pure-material-textfield-outlined>input+span:after,.pure-material-textfield-outlined>input+span:before,.pure-material-textfield-outlined>textarea+span:after,.pure-material-textfield-outlined>textarea+span:before {
    content: "";
    display: block;
    margin-top: 6px;
    border-top-color: #c4c4c4;
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    -webkit-box-shadow: inset 0 1px transparent;
    box-shadow: inset 0 1px transparent;
    -webkit-transition: border-color .2s,-webkit-box-shadow .2s;
    transition: border-color .2s,-webkit-box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s,-webkit-box-shadow .2s
}

.pure-material-textfield-outlined>input+span:before,.pure-material-textfield-outlined>textarea+span:before {
    margin-right: 4px;
    border-left: 1px solid transparent;
    border-radius: 4px 0;
    -webkit-box-shadow: inset 0 1px #c4c4c4;
    box-shadow: inset 0 1px #c4c4c4
}

.pure-material-textfield-outlined>input+span:after,.pure-material-textfield-outlined>textarea+span:after {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 4px;
    border-right: 1px solid transparent;
    border-radius: 0 4px;
    -webkit-box-shadow: inset 0 1px #c4c4c4;
    box-shadow: inset 0 1px #c4c4c4
}

.pure-material-textfield-outlined>input:focus,.pure-material-textfield-outlined>textarea:focus {
    -webkit-box-shadow: inset 1px 0 var(--pure-material-safari-helper1),inset -1px 0 var(--pure-material-safari-helper1),inset 0 -1px var(--pure-material-safari-helper1);
    box-shadow: inset 1px 0 var(--pure-material-safari-helper1),inset -1px 0 var(--pure-material-safari-helper1),inset 0 -1px var(--pure-material-safari-helper1);
    outline: none;
    -webkit-appearance: none
}

.pure-material-textfield-outlined>input:focus+span,.pure-material-textfield-outlined>textarea:focus+span {
    color: #000;
    opacity: 1
}

.pure-material-textfield-outlined>input:focus+span:after,.pure-material-textfield-outlined>input:focus+span:before,.pure-material-textfield-outlined>textarea:focus+span:after,.pure-material-textfield-outlined>textarea:focus+span:before {
    border-top-color: var(--pure-material-safari-helper1)!important;
    -webkit-box-shadow: inset 0 1px var(--pure-material-safari-helper1);
    box-shadow: inset 0 1px var(--pure-material-safari-helper1)
}

.pure-material-textfield-outlined>input:disabled,.pure-material-textfield-outlined>textarea:disabled {
    border-color: rgba(0,0,0,.38)!important;
    color: rgba(0,0,0,.38);
    pointer-events: none
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown,.pure-material-textfield-outlined>textarea:disabled:placeholder-shown {
    border-top-color: rgba(0,0,0,.38)!important
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown+span,.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span {
    border-top-color: rgba(0,0,0,.38)!important
}

.pure-material-textfield-outlined>input:disabled+span,.pure-material-textfield-outlined>textarea:disabled+span {
    border-color: rgba(0,0,0,.38)!important;
    color: rgba(0,0,0,.38);
    pointer-events: none
}

.pure-material-textfield-outlined>input:disabled+span:after,.pure-material-textfield-outlined>input:disabled+span:before,.pure-material-textfield-outlined>textarea:disabled+span:after,.pure-material-textfield-outlined>textarea:disabled+span:before {
    border-top-color: rgba(0,0,0,.38)!important
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown,.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown {
    border-top-color: #c4c4c4
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span,.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span {
    font-size: inherit;
    line-height: 68px
}

.pure-material-textfield-outlined.showIsdCodeClass>input+span:before {
    border-radius: 0!important
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance:none) {
        .pure-material-textfield-outlined>input,.pure-material-textfield-outlined>input+span,.pure-material-textfield-outlined>input+span:after,.pure-material-textfield-outlined>input+span:before,.pure-material-textfield-outlined>textarea,.pure-material-textfield-outlined>textarea+span,.pure-material-textfield-outlined>textarea+span:after,.pure-material-textfield-outlined>textarea+span:before {
            -webkit-transition-duration:.1s;
            transition-duration: .1s
        }
    }
}

.whatsapp-check {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;    
}

.pg15 {
    color: #333333;
    font-size: 15px;
    line-height: 22px;
}

.pg12 {
    color: #333333;
    font-size: 12px;
    line-height: 18px;
}

.pg10 {
    color: #333333;
    font-size: 10px;
    line-height: 16px;
}

.hidden {
    display: none;
}

.checkBox {
  display: block;
  position: relative;
  padding-left: 30px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #CC1F41;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #CC1F41;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.consent {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
}
</style>